<div class="container" align="center">
  <h1 style="padding-top: 250px; font-size: 48px">
    Category <strong><%= @category.tag %></strong> created.
  </h1>
  <br>
  <%= link_to 'See All Catorigies', categories_path, class: "btn btn-primary btn-lg" %>
</div>
